# 리스트 자료형
- 파이썬의 자료구조 형태중 하나이다. --> str, int, list 등. . . 서로 다른 자료형임!
- 순서가 있는(인덱스) 수정 가능한 객체의 집합
- 대괄호([])로 작성되어지며, 리스트 내부의 값들은 콤마(,)로 구분
- ★ 추가, 수정, 삭제 가능하다!!!★

In [12]:
# 리스트 인덱싱

list2 = [1,2,3,['a','b','c']]

list2[3][1]

'b'

In [15]:
# 리스트 슬라이싱
# start시작 인덱스부터 end끝 인덱스(포함x)값을 반환해줌

list3 = [0,1,2,3,4]

list3[1:]

[1, 2, 3, 4]

In [16]:
# 리스트 더하기
# 리스트끼리의 연산은 불가능하다 --> 문자열처럼
# 리스트에서 연산 하는 방법이 따로 존재함


list4 = [1,2,3]
list5 = [3,4,5,6]

list4 + list5

[1, 2, 3, 3, 4, 5, 6]

### 리스트 값 추가하기

In [20]:
# 리스트.append(값) 함수
# 맨 뒤에 값을 차곡차곡 추가해주는 함수

list5 = [0,1,2,3,4]

list5.append(100)
list5

[0, 1, 2, 3, 4, 100]

In [23]:
# 리스트.insert(인덱스, 값)
# 리스트 인덱스 위치에 원하는 값 추가

list5 = [0,1,2,3,4]

list5.insert(1,5)
list5

[0, 5, 1, 2, 3, 4]

### 리스트 값 수정하기

In [31]:
list6 = [0,1,2,3,4]

print(f"수정 전 : {list6}")
list6[1] = 100
print(f"수정 후 :{list6}")

수정 전 : [0, 1, 2, 3, 4]
수정 후 :[0, 100, 2, 3, 4]

In [32]:
# 리스트 값 수정(슬라이싱)

print(list6[2:4], list6[2:3])
list6[2:4] = [7]
print(list6)

[2, 3] [2]
[0, 100, 7, 4]

### 리스트 값 삭제하기

In [39]:
# 리스트 값 삭제 첫 번째 방법

list7 = [0,1,2,3,4,5]

del list7[1]
list7

[0, 2, 3, 4, 5]

In [44]:
# 리스트 값 삭제 슬라이싱으로

del list7[1:5]
list7

[0]

In [35]:
# 리스트 값 삭제 두 번째 방법

list8 = ['a','b','c','d','e']
list8.remove('b')
list8

['a', 'c', 'd', 'e']

In [45]:
# 리스트 값 삭제 remove() 함수는 여러개 값을 지울 수 없음
list8.remove('a','c')

TypeError: list.remove() takes exactly one argument (2 given)

In [54]:
# 리스트 오름차순 정렬
# 리스트.sort()

list8 = [9,77,13,51,100,3]

list8.sort()
list8

[3, 9, 13, 51, 77, 100]

In [51]:
# 리스트에 있는 값을 역순으로 뒤집음(인덱스가 뒤집힘)
# 리스트.reverse()

list9 = [9,77,13,51,100,3]
list9.reverse()
list9

[3, 100, 51, 13, 77, 9]

In [59]:
# 리스트 내림차순 정렬

list10 = [9,77,13,51,100,3]

# 1. sort() 함수를 이용해서 먼저 정렬해주기(순차적으로 예쁘게)
list10.sort()
print(f"sort 함수로 내림차순 만들기 : {list10}")

# 2. reverse() 함수를 이용해서 역순으로 뒤집기
list10.reverse()
print(f"reverse 함수로 내림차순 만들기 : {list10}")

# 한번에 내림차순 정렬을 하고 싶으면 한 셀에서 sort와 reverse를 실행해줘야 함

sort 함수로 내림차순 만들기 : [3, 9, 13, 51, 77, 100]
reverse 함수로 내림차순 만들기 : [100, 77, 51, 13, 9, 3]

In [60]:
# 리스트.index() : 찾고자 하는 값의 위치(인덱스) 반환

list11 = ['a','b','c','d','e','f']
list11.index('c')

2

In [62]:
# 리스트.pop() : 마지막 값을 반환 후 리스트에서 제거 -> append()와 반대 성향

list12 = ['a','b','c','d','e','f']
list12.pop()
list12

['a', 'b', 'c', 'd', 'e']

In [63]:
# 리스트 값의 개수 확인
# len(리스트 이름)

len(list12)

5

# 튜플(tuple) 자료형
- 파이썬의 자료구조 형태 중 하나이다.
- 순서가 있는(인덱스) 집합이다.
- 소괄호()로 작성 되어지며, 튜플의 내부 값은 콤마(,)로 구분한다.
- 추가, 수정, 제거 절대절대절대 불가능하다.

In [68]:
# 튜플 인덱싱 : 인덱스에 위치한 값 반환
# 튜플이름[인덱스번호]

tuple1 = (0,1,2,3,('a','b','c'),5)

tuple1[4]
       
#'b'를 인덱싱 해주세요
tuple1[4][1]

'b'

In [69]:
# 튜플 슬라이싱
# 튜플[시작 인덱스 : 끝날 인덱스(포함x)]

tuple1[3:]

(3, ('a', 'b', 'c'), 5)

In [70]:
# 튜플 값의 개수 확인
# len(튜플)

len(tuple1)

6

In [71]:
# 튜플 값 추가, 수정, 삭제 --> 불가능

tuple1[0] = 3

TypeError: 'tuple' object does not support item assignment

# 리스트와 튜플 공통점과 차이점

### 공통점
- 타입과 상관 없이 일련의 요소(값)을 가질 수 있다
- 요소(값)의 순서(인덱스)를 관리한다

### 차이점
- 리스트는 가변적이며, 튜플은 불변적이다.
- 리스트는 요소가 몇 개 들어갈지 명확하지 않은 경우에 사용
- 튜플은 요소 개수를 사전에 정확하게 알고 있을 경우에 사용

# 반복문
- 프로그램 내에서 똑같은 명령을 일정 횟수만큼 반복적으로 수행하도록 제어하는 명령문
- 반복문 종류에는 while문, for문이 있다
    - while문 : 반복 횟수가 명확하지 않을 때(모를 때)
    - for문 : 반복 횟수가 명확할 때(알 때)

In [72]:
# while문 예제

# while문을 사용해서 "파이썬 최고!"를 12번 출력하세요

num = 0

while num < 10:
    print("파이썬 최고!")
    num += 1

파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!
파이썬 최고!

In [73]:
# while문 - break
# 반복문을 나가는 기능

while True:
    print("무한루프")
    break

무한루프

In [75]:
number = 1

while True:
    print(number)
    number += 1
    if number > 3:
        break

1
2
3

In [81]:
# while문 예제
# 두개의 정수를 입력 받아서 더하는 코드를 작성해보자(단, 두개의 정수가 0이 들어올 때 까지 반복)

while True:
    num1 = int(input("첫번째 정수를 입력하세요 : "))
    num2 = int(input("두번째 정수를 입력하세요 : "))
    if num1==0 and num2 ==0:
        break
    print(f"두 정수의 합 : {num1 + num2}")
    print()


print("프로그램이 종료되었습니다.")

첫번째 정수를 입력하세요 : 12
두번째 정수를 입력하세요 : 2
두 정수의 합 : 14

첫번째 정수를 입력하세요 : 0
두번째 정수를 입력하세요 : 45
두 정수의 합 : 45

첫번째 정수를 입력하세요 : 0
두번째 정수를 입력하세요 : 0
프로그램이 종료되었습니다.

In [132]:
# random 라이브러리 사용

# 라이브러리 import
import random

# random.randint(시작값, 끝값(포함o)) 사용
# 1~10 사이에 숫자 랜덤 추출
random.randint(1,10)

10

In [135]:
# while문 예제
# 랜덤으로 1~50 사이의 숫자를 뽑으면 뽑은 숫자를 맞추는 up, down 게임

ran = random.randint(1,50)

while True:
    num = int(input("숫자를 입력하세요 >> "))
    if num > ran:
        print(f"{num}보다 작은 수 입니다.")
    elif num < ran:
        print(f"{num}보다 큰 수 입니다.")
    else:
        print("정답을 맞추셨습니다.")
        break

숫자를 입력하세요 >> 13
13보다 큰 수 입니다.
숫자를 입력하세요 >> 25
25보다 작은 수 입니다.
숫자를 입력하세요 >> 22
22보다 큰 수 입니다.
숫자를 입력하세요 >> 23
정답을 맞추셨습니다.

### for문

In [136]:
# for문 예시

# 인덱스 방을 하나하나 접근한다.
hi = "안녕하세요"

for i in hi:
    print(i)

안
녕
하
세
요

In [137]:
tuple_food = ("햄버거","치킨","피자")

for food in tuple_food:
    print(food)

햄버거
치킨
피자

In [139]:
# for문 예제
# 5명에 대한 정보처리기사 자격증 시험 점수가 리스트에 담겨있습니다.
# 이 때 각 점수가 합격 점수인지 불합격 점수인지 판별하여 출력하시오.(60점 이상 합격)

score_list = [90,45,70,60,55]
num=0

for score in score_list:
    if(score >= 60):
        hap = "합격"
    else:
        hap = "불합격"
    num += 1
    print(f"{num}번 학생은 {hap}입니다.")

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 합격입니다.
5번 학생은 불합격입니다.